*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Courier New', Courier, monospace; /* Fonte com estilo nerd/tech */
  background: radial-gradient(circle at 30% 30%, rgba(0, 0, 10, 0.6), transparent 40%),
              radial-gradient(circle at 70% 70%, rgba(0, 0, 20, 0.4), transparent 40%),
              radial-gradient(circle at 50% 50%, rgba(0, 0, 50, 0.5), transparent 50%),
              linear-gradient(135deg, rgba(20, 1, 20, 1), rgba(1, 1, 20, 1));
    background-attachment: fixed;
    background-attachment: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}